[submodule "deps/webcc"]
	path = deps/webcc
	url = https://github.com/io-eric/webcc
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol
[submodule "deps/clay"]
	path = deps/clay
	url = https://github.com/nicbarker/clay
